## Required
h5py
decord
ipywidgets
matplotlib
natsort
numba
numpy
opencv-contrib-python
pandas
paramiko
PyYAML
pytest
scikit-learn
tqdm
sparse
scipy
torch
torchvision
torchaudio

## Optional / Advanced
tables
opt-einsum
rolling-quantiles
pulp
spconv
torch-sparse
av
pynwb
sendgrid
pycuda
cuml
cupy
cudf
scanimage-tiff-reader
jupyter
PyWavelets
mat73