## Required
numpy
scipy
matplotlib
numba
scikit-learn
tqdm
h5py
opencv-contrib-python
sparse
natsort
paramiko
pandas
pytest
PyYAML
torch
torchvision
torchaudio

## Optional / Advanced
tables

opt-einsum
rolling-quantiles

pulp

spconv
torch-sparse

av
decord

pynwb

sendgrid

pycuda
cuml
cupy
cudf

scanimage-tiff-reader

jupyter

PyWavelets

mat73
