## requirements.txt

tables

opt-einsum
rolling-quantiles

pulp

spconv
torch-sparse

av
decord

pynwb

sendgrid

pycuda
cuml
cupy
cudf

scanimage-tiff-reader

jupyter

PyWavelets

mat73

#torch
#torchvision